<div class="calculator">
  <div class="calculator__wrap">
    <input class="calculator__display" [value]="input">
    <hr>
    <div class="calculator__functions">
      <button (click)="clear()" value="clear" class="btn--opaque">AC</button>
      <button value="pos-neg" class="btn--opaque"></button>
      <button value="%" class="btn--opaque"></button>
      <button (click)="divide()" value="/" class="btn--opaque">/</button>
      <button (click)="set7()" value="7">7</button>
      <button (click)="set8()" value="8">8</button>
      <button (click)="set8()" value="9">9</button>
      <button (click)="multiply()" value="*" class="btn--opaque">*</button>
      <button (click)="set4()" value="4">4</button>
      <button (click)="set5()" value="5">5</button>
      <button (click)="set6()" value="6">6</button>
      <button (click)="subtract()" value="-" class="btn--opaque">-</button>
      <button (click)="set1()" value="1">1</button>
      <button (click)="set2()" value="2">2</button>
      <button (click)="set3()" value="3">3</button>
      <button (click)="add()" value="+" class="btn--opaque">+</button>
      <button (click)="set0()" value="0" class="btn--large">0</button>
      <button value=".">.</button>
      <button (click)="calc()" value="=" class="btn--opaque">=</button>
    </div>
  </div>
</div>